# Python Byte-compiled / optimized / DLL files
__pycache__/

# Packaging
build/
dist/

# PyInstaller
*.spec

# Python Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Code Editors
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# OS-related
.DS_Store
Thumbs.db
